.box_footer_bg {
  padding: 50px; }
  @media screen and (max-width: 435px) {
    .box_footer_bg {
      padding: 15px 15px 15px; } }

.box_footer_bg {
  background-color: #2a2d31;
  margin-top: -5px; }

.footer_text_company {
  color: #6f7379;
  margin-top: 35px;
  margin-bottom: 25px; }

.spks_logo {
  margin-left: 15px; }
  @media screen and (max-width: 435px) {
    .spks_logo {
      margin-bottom: 15px;
      margin-top: 15px; } }

.name_info_block {
  color: #6f7379;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500; }

.footer_number {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0px; }

.footer_number_text {
  font-size: 12px;
  color: #fff;
  margin-bottom: 0px; }

.footer_number_mail {
  font-size: 14px;
  color: #fff; }

.footer_news {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0px; }

.date_news_footer {
  color: #6f7379;
  font-size: 12px;
  font-weight: 400; }

.point_grey::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  left: 0;
  margin-top: 5px;
  background: url(/img/kvadrat_grey.png) center 0 no-repeat; }

.footer_info_link {
  font-size: 14px;
  color: #fff;
  margin-left: 15px; }

.feedback_button_footer a {
  text-decoration: none;
  color: #fff;
  margin-top: 35px; }

@media screen and (max-width: 435px) {
  .feedback_button_footer {
    margin-top: 15px;
    margin-bottom: 15px; } }

@media screen and (max-width: 435px) {
  .feedback_button_footer {
    margin-top: 15px; } }

.feedback_footer {
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #ffe13a;
  padding: 10px 50px;
  border-radius: 45px;
  color: #fff; }
  @media screen and (max-width: 435px) {
    .feedback_footer {
      margin-top: 25px; } }
  .feedback_footer:hover {
    background-color: #ffffff25;
    transition: 0.2s; }

.box_basement {
  padding: 15px 0px 0px; }
  @media screen and (max-width: 435px) {
    .box_basement {
      text-align: center; } }

.basement_text_prava_kompany {
  font-size: 12px;
  color: #6f7379;
  margin-bottom: 0px; }

.political_konf {
  font-size: 12px;
  color: #6f7379;
  margin-bottom: 0px; }

.razrabotano_basement_footer {
  text-align: right; }
  @media screen and (max-width: 435px) {
    .razrabotano_basement_footer {
      text-align: center; } }
  .razrabotano_basement_footer a {
    color: #6f7379; }
