.menu__background {
  padding: 40px 0px 40px 0px; }
  @media screen and (max-width: 992px) {
    .menu__background {
      padding: 15px 0px;
      margin-bottom: 0px; } }

.line_menu {
  border: 0.5px solid #fff; }

.navbar {
  font-size: 16px;
  color: #fff; }

.menu__navbar ul {
  color: #fff;
  font-size: 16;
  text-transform: uppercase;
  justify-content: space-between; }
  @media screen and (max-width: 992px) {
    .menu__navbar ul {
      margin-top: 15px;
      margin-bottom: 15px; } }

.menu__navbar .navbar {
  padding: 0; }

.menu__navbar .navbar li {
  cursor: pointer; }

.menu__navbar .navbar .nav-item .nav-link {
  padding: 0;
  color: #fff;
  font-weight: 450; }

.menu__navbar .navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 35px; }

.dropdown-item {
  padding: 12px; }

.dropdown-menu {
  margin-top: 22px;
  color: #ecf5fe;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);
  border: none;
  border-radius: 0px;
  text-transform: initial;
  padding: 12px; }
  @media screen and (max-width: 320px) {
    .dropdown-menu {
      font-size: 16;
      color: #fff; } }

.dropdown-item a {
  margin-bottom: 1px solid #000; }

.menu__navbar .navbar .nav-item .nav__link__two {
  margin-right: 35px;
  color: #fff;
  font-weight: 450; }
  @media screen and (max-width: 992px) {
    .menu__navbar .navbar .nav-item .nav__link__two {
      padding: 0px 0px 15px;
      font-weight: 200;
      color: #fff;
      font-weight: 450; } }

@media screen and (max-width: 992px) {
  .navbar-collapse {
    line-height: 2; } }

@media screen and (max-width: 320px) {
  .navbar-collapse {
    line-height: 2; } }

.navbar-dark .navbar-nav .nav-link .navbar-dark .navbar-nav .nav-link:hover {
  color: white; }

.navbar-dark .navbar-toggler {
  background-color: transparent;
  border: none; }

.dropdown-item.active,
.dropdown-item:active {
  background-color: #03274b; }

.form-control {
  background-color: transparent;
  float: right; }

@media screen and (max-width: 320px) {
  .form-inline {
    width: 75%; } }

.form-control:focus {
  color: #000;
  background-color: transparent;
  border-color: #ffffff;
  outline: 0;
  box-shadow: none; }

input[type="search"]::-webkit-input-placeholder {
  color: #000; }

input[type="search"]:-ms-input-placeholder {
  color: #000; }

input[type="search"]::-ms-input-placeholder {
  color: #000; }

input[type="search"]::placeholder {
  color: #000; }

.form-control:focus::-webkit-input-placeholder {
  color: transparent; }

.form-control:focus::-moz-placeholder {
  color: transparent; }

.form-control:focus:-moz-placeholder {
  color: transparent; }

.form-control:focus:-ms-input-placeholder {
  color: transparent; }

@media screen and (max-width: 320px) {
  .input__group {
    text-align: left; } }

.background {
  background: url(/img/background.png) no-repeat;
  background-size: cover; }

.system_button a {
  text-decoration: none;
  color: #fff; }

.enter_system {
  font-size: 18px;
  font-weight: 350;
  color: #fff;
  text-transform: uppercase; }

.icon_enter {
  margin-top: -5px;
  margin-right: 5px; }

.box_head_bg {
  padding: 60px 0px 60px; }

.head_bg_text {
  vertical-align: middle;
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.8; }

.head_bg_text_small {
  vertical-align: middle;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  color: #fff;
  line-height: 1.8;
  margin-top: 20px; }

.head_bg_text_small_two {
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  line-height: 1.8;
  margin-top: 10px;
  margin-bottom: 25px; }

.head_bg_box_button {
  vertical-align: middle;
  text-align: center;
  margin-bottom: 55px; }

.request {
  background: transparent;
  border: none; }
  .request a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 550; }

.service {
  background: transparent;
  border: none; }
  .service a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 450; }

.request_button {
  background-color: #ffbd3d;
  border: none;
  padding: 10px 25px;
  color: #000;
  text-decoration: none; }
  @media screen and (max-width: 320px) {
    .request_button {
      padding: 10px 10px; } }
  .request_button:hover {
    background-color: #e9b754;
    transition: 0.2s;
    color: #000; }

.service_button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 10px 50px;
  margin-left: 25px;
  color: #fff; }
  @media screen and (max-width: 365px) {
    .service_button {
      padding: 10px 45px;
      margin-left: 10px; } }
  .service_button:hover {
    background-color: rgba(255, 255, 255, 0.075);
    transition: 0.2s; }

.sro_np_naks_text {
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 1.8;
  margin-top: 20px; }

.naks_link {
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  margin-top: 20px; }
  .naks_link a {
    color: #fff; }
