.box_contacti_background{
    background: url(/img/contacti.png) no-repeat;
    background-size: cover;    
}

.box_contacti_color{
    background-color: rgba(38, 37, 34, 0.8);
    padding: 50px 0px 50px;
}

.box_contacti_number{
    margin-bottom: 45px;
}

.contacti_number::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;    
    margin-top: 10px;  
    margin-left: -35px;  
    background: url(/img/phone.png) center 0 no-repeat;   
}

.contacti_number{
    font-size: 30px;
    font-weight: 450;
    color: #fff;
    padding-left: 35px;
}

.contacti_consultant{
    font-size: 16px;
    font-weight: 350;
    color: #fff;
    padding-left: 35px;
    margin-top: -15px;
}

.contacti_adres_text::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;    
    margin-top: 10px;  
    margin-left: -35px;  
    background: url(/img/here.png) center 0 no-repeat;   
}

.contacti_adres_text{
    font-size: 16px;
    font-weight: 350;
    color: #fff;
    padding-left: 35px;
    margin-top: -15px;
}


.contacti_mail::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;    
    margin-top: 7px;  
    margin-left: -35px;  
    background: url(/img/mail.png) center 0 no-repeat;   
}

.contacti_mail{
    font-size: 16px;
    font-weight: 350;
    color: #fff;
    padding-left: 35px;
    margin-top: -15px;
}