.logo_box_head {
  padding: 40px 0px; }
  @media screen and (max-width: 576px) {
    .logo_box_head {
      padding: 15px 10px;
      vertical-align: middle;
      text-align: center; } }

.logo_box_free {
  padding: 40px 0px; }
  @media screen and (max-width: 942px) {
    .logo_box_free {
      display: none; } }

.logo_otstup {
  margin-left: 15px;
  margin-right: 15px; }

.head_number {
  padding: 40px 0px; }
  @media screen and (max-width: 576px) {
    .head_number {
      padding: 15px 5px;
      vertical-align: middle;
      text-align: center; } }

.number {
  font-size: 26px;
  font-weight: 500; }
  @media screen and (max-width: 1300px) {
    .number {
      font-size: 20px; } }

.consultant_text {
  font-size: 16px;
  margin-top: -15px; }

.feedback_button {
  padding: 60px 0px; }
  .feedback_button a {
    text-decoration: none;
    color: #fff; }
  @media screen and (max-width: 576px) {
    .feedback_button {
      padding: 15px 10px;
      margin-bottom: 25px;
      vertical-align: middle;
      text-align: center; } }

.feedback_header {
  font-size: 16px;
  font-weight: 400;
  background-color: #23395d;
  padding: 10px 50px;
  border-radius: 45px;
  color: #fff; }
  .feedback_header:hover {
    background-color: #2f4870;
    transition: 0.2s; }

.logo_box_sasp {
  padding: 40px 0px;
  text-align: right; }
  @media screen and (max-width: 1399px) {
    .logo_box_sasp {
      display: none; } }
