{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="box_inside_pages" id="doc">
    <div class="container">
        <div class="row">
            <div class="col-xl-1">
                <div class="headline_inside_pages_line"></div>
            </div>

            <div class="col-xl-6">
                <p class="headline_inside_pages_text">
                    Документы
                </p>
                <p class="subtitle_inside_pages">
                    Необходимые документы
                </p>
            </div>
        </div>
        <div class="box_document">
            <div class="row">
                <div class="col-xl-4">
                    <a href="" download="">
                        <div class="box_doc_file" title="Скачать">
                            <div class="icon_pdf"></div>
                            <p class="doc_text_name">
                                ПБ-03-273-99 "Правила аттестации сварщиков
                                и специалистов сварочного производства"
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4">
                    <a href="" download="">
                        <div class="box_doc_file" title="Скачать">
                            <div class="icon_pdf"></div>
                            <p class="doc_text_name">
                                ПБ-03-273-99 "Правила аттестации сварщиков
                                и специалистов сварочного производства"
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4">
                    <a href="" download="">
                        <div class="box_doc_file" title="Скачать">
                            <div class="icon_pdf"></div>
                            <p class="doc_text_name">
                                ПБ-03-273-99 "Правила аттестации сварщиков
                                и специалистов сварочного производства"
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="box_document">
            <div class="row">
                <div class="col-xl-4">
                    <a href="" download="">
                        <div class="box_doc_file" title="Скачать">
                            <div class="icon_word"></div>
                            <p class="doc_text_name">
                                ПБ-03-273-99 "Правила аттестации сварщиков
                                и специалистов сварочного производства"
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4">
                    <a href="" download="">
                        <div class="box_doc_file_height" title="Скачать">
                            <div class="icon_word"></div>
                            <p class="doc_text_name">
                                Пример оформления заявок
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4">
                    <a href="" download="">
                        <div class="box_doc_file_height" title="Скачать">
                            <div class="icon_pdf  "></div>
                            <p class="doc_text_name">
                                ПБ-03-273-99 "Правила аттестации сварщиков
                                и специалистов сварочного производства"
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="box_document_list">
            <div class="row">
                <div class="col-xl-4">
                    <a href="" download="">
                        <div class="box_doc_file" title="Скачать">
                            <div class="icon_word"></div>
                            <p class="doc_text_name">
                                ПБ-03-273-99 "Правила аттестации сварщиков
                                и специалистов сварочного производства"
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4">
                    <a href="" download="">
                        <div class="box_doc_file_height" title="Скачать">
                            <div class="icon_word"></div>
                            <p class="doc_text_name">
                                Пример оформления заявок
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4">
                    <a href="" download="">
                        <div class="box_doc_file_height" title="Скачать">
                            <div class="icon_pdf  "></div>
                            <p class="doc_text_name">
                                ПБ-03-273-99 "Правила аттестации сварщиков
                                и специалистов сварочного производства"
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
               <div class="box_doc_button">
                    <button class="more_doc" id="">
                            Показать еще документы
                        </button>
               </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}