.box_document{
    margin-top: 25px;
    margin-bottom: 25px;
    a{
        text-decoration: none;
    }
}

.box_document_list{
    margin-top: 25px;
    margin-bottom: 25px;    
    a{
        text-decoration: none;
    }
}

.box_doc_file{
    border: 1px solid #f6f6f6;
    padding: 25px 25px;
    // height: 100px;
    margin-bottom: 15px;
    &:hover{
        box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);       
        border: 1px solid #9ed8ff;
        transition: 0.2s;
    }
}



.box_doc_file_height{
    border: 1px solid #f6f6f6;
    padding: 25px 25px;
    height: 102px;
    margin-bottom: 15px;
    &:hover{
        box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);       
        border: 1px solid #9ed8ff;
        transition: 0.2s;
    }
}

.icon_pdf::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    margin-top: 5px;
    margin-left: 25px;
    background: url(/static/img/icon_pdf-01.svg) center 0 no-repeat;
}


.doc_text_name{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: rgb(90, 90, 90);
    margin-left: 55px;
    margin-bottom: 0;
}

.icon_word::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    margin-top: 5px;
    margin-left: 25px;
    background: url(/static/img/icon_word-01.svg) center 0 no-repeat;
}

.box_doc_button{  
    text-align: center;
}

.more_doc{
    font-size: 18px;
    font-weight: 350;
    padding: 10px 45px;
    cursor: pointer;
    color: #979797;
    background-color: transparent;
    border: none;
    border: 1px solid #c0c0c0;
    &:hover{
        border: 1px solid #9ed8ff;
        transition: 0.2s;
    }
   
}

.hidden {
    display: none;
  }
  .show {
    display: block;
  }

