// Спецификация

body {
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    background-color: #fff; 
    -webkit-font-smoothing: antialiased;
}

.container {
  @media (min-width: 360px) {
        max-width: 1570px;
    }
}

.box_inside_pages{
    padding: 50px 0px 50px;
    @media screen and (max-width: 435px) {
        padding: 25px 0px 25px;   
      }
}


.headline_inside_pages_line {
    border: 0.5px solid #39567e;
    margin-top: 35px;
    width: 95px;
    @media screen and (max-width: 435px) {
      display: none;
    }
}


.headline_inside_pages_text {   
    font-size: 45px;
    color: #39567e;
    text-transform: uppercase;
    margin-bottom: 5px;
    @media screen and (max-width: 435px) {
        margin-top: 15px;
        font-size: 30px
      }
}

.subtitle_inside_pages {
    font-size: 14px;
    margin-bottom: 35px;
    @media screen and (max-width: 435px) {
        margin-bottom: 0px; 
      }
}

.no-otstup{
    @media screen and (max-width: 435px) {
        margin: 0;
        padding: 0;
      }  

    @media screen and (max-width: 435px) {
        margin: 0;
        padding: 0;
      }  
}

.remove{
    @media screen and (max-width: 992px) {
        display: none;
      }  
}