// Новости (внутри)
.header__news {
    font-size: 24px;
    font-weight: 550;
    color: #000;
    margin-bottom: 15px;
    margin-top: 25px;
}


.img__box__news {
    margin-top: 15px;
    margin-bottom: 25px;
}

.small__text__news {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-top: 15px;
    line-height: 1.8;
}

.news__tag__all-news {
    margin-top: 25px;
    margin-bottom: 10px;
}

.news__tag__all-news a {
    font-size: 14px;
    margin-top: 25px;
    background-color: transparent;
    border-radius: 55px;
    border: 1px solid #3164a2;
    padding: 5px 15px;
    width: 70px;
    color: #3164a2;
    margin-bottom: 5px;

    &:hover {
        background-color: rgba(188, 218, 255, 0.1);
    }
}


.page-link {
    color: #2e3e60;
    font-size: 14px;
    border-radius: 0px;

}

.page-item {
    border-radius: 0px;
}

.page-link:hover {
    transition: 0.2s;
}

.page-link:focus {
    outline: none;
    box-shadow: none;
}


.date__news__inside {
    font-size: 14px;
    font-weight: 350;
    color: #5a5a5a;
    margin-top: 15px;
    margin-bottom: 15px;

}

.vkontakte {
    background-color: #0288d1;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;

    &:hover {
        background-color: #027abb;
    }
}


.googlepluse {
    background-color: #f4511e;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;

    &:hover {
        background-color: #dd481b;
    }
}


.twitter {
    background-color: #03a9f4;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;

    &:hover {
        background-color: #0b8bc7;
    }
}


.facebook {
    background-color: #3f51b5;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: #3647a7;
    }
}

.to__share {
    margin-bottom: 25px;
    text-align: right;
    @media screen and (max-width: 320px) {
        text-align: left;
    }
}

.line__news__end {
    border: 0.5px solid #ebebeb;
    margin-top: 25px;
    margin-bottom: 25px;
}

.prikrep__doc {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.soglashenie__button {
    background-color: transparent;
    border: none;
    padding: 0;

    a {
        text-decoration: none;
    }
}

.soglashenie__button__text {
    border: 1px #8d8d8d solid;
    padding: 10px 15px;
    display: block;
    font-size: 14px;
    color: #8d8d8d;
  

    &:hover {
        color: #585858;
    }
}

.download__icon {
    margin-left: 10px;
}

.soglashenie__button__text:hover {
    background-color: #f1f1f1;
}

.carousel__slide {
    margin-top: 15px;
    margin-bottom: 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 21px;
    height: 34px;
}

.carousel-control-prev-icon {
    background: url(/static/img/next__image__arrow-01.png) no-repeat;
}

.carousel-control-next-icon {
    background: url(/static/img/next__image__arrow-01.png) no-repeat;
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.box__news__inside__block {
    padding: 45px;  
    margin-top: 30px;

    @media screen and (max-width: 320px) {
        padding: 0px;
        background-color: transparent;
    }
}

.header__all__news {
    font-size: 18px;
    font-weight: 300;
    margin-top: 25px;
}

.line__otstup__inside__pages__news {
    margin-top: 25px;
    margin-bottom: 25px;
}

.link__read__news__inside {
    margin-top: 15px;
    margin-bottom: 25px;
    
}

.link__read__news__inside a {
    text-decoration: none;
    font-size: 14px;
    color: #0066ac;
    font-weight: 450;
}


// Нумерация
.page-link {
    color: #2e3e60;
    font-size: 14px;
    border-radius: 0px;

}

.page-item {
    border-radius: 0px;
    margin-top: 25px;
}

.page-link:hover {
    transition: 0.2s;
}

.page-link:focus {
    outline: none;
    box-shadow: none;
}

.link__read__news {
    margin-top: -30px;
    margin-bottom: 25px;
}

.link__read__news a {
    text-decoration: none;
    font-size: 14px;
    color: #0066ac;
    font-weight: 450;
}

.block__news a {
    text-decoration: none;
}

.box__news {
    padding: 25px 0px;
    margin-top: 15px;      
    font-size: 16px;
}

.data__news__main {
    color: rgb(168, 168, 168);
    text-decoration: none;
    font-weight: 350;
    font-size: 12px;
}

.box__news__text {
    color: #03274b;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0;
}

.read_news {
    background-color: transparent;
    border: none; 
    padding: 0px;   

    a {
        text-decoration: none;
        font-weight: 350;
        color: #000; 
        padding: 5px 35px;
    }
}

.read_news_text {   
    border: 0.5px solid #4e88ff;  
    display: block;   
    font-size: 14px;  
    padding: 5px 35px;
}