@import "_modal-window.scss";
@import "_bg-menu-info.scss";
@import "_service.scss";
@import "_center-info.scss";
@import "_evidence.scss";
@import "_certified.scss";
@import "_partners.scss";
@import "_contacts.scss";
@import "_basement.scss";
@import "_legacy.scss";
@import "_reestr.scss";
@import "_doc.scss";
