{% load static %}
<div class="box_footer_bg">
    <div class="container">
        <div class="footer_box_info_all">
            <div class="row">
                <div class="col-xl-4">
                    <div class="logo_footer">
                        <img src="{% static '/img/logo_gac_rb_footer.svg' %}" class="logo_gac_footer" alt="">
                    </div>
                    <p class="footer_text_company">
                        Общество с ограниченной ответственностью «Головной аттестационно-сертификационный центр
                        Республики Башкортостан» (ООО «ГАЦ РБ, ранее АНО «ГАЦ РБ»), являясь членом СРО Ассоциация
                        НАКС, начало свою деятельность в 1999 году с аттестации персонала сварочного производства.
                        С декабря 2017 г. на базе ООО «ГАЦ РБ» создан Центр оценки квалификации при Совете по
                        профессиональным квалификациям в области сварки.
                    </p>
                
                    <div class="spks_logo">
                       <a href="http://spks.ru">
                           <img src="{% static '/img/skps__logo.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xl-1">
                    <div class="head_info_footer">
                        <p class="name_info_block">
                            Новости
                        </p>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 col-xl-2">

                    <div class="box_footer_news">
                        <a href="">
                            <p class="footer_news">
                                Соглашение о сотрудничестве
                            </p>
                        </a>
                        <p class="date_news_footer">
                            15 января, 2018
                        </p>
                    </div>
                    <div class="box_footer_news">
                        <a href="">
                            <p class="footer_news">
                                Подписание договора
                            </p>
                        </a>
                        <p class="date_news_footer">
                            15 января, 2018
                        </p>
                    </div>
                    <div class="box_footer_news">
                        <a href="">
                            <p class="footer_news">
                                Прошла аттестация сварщиков
                            </p>
                        </a>
                        <p class="date_news_footer">
                            15 января, 2018
                        </p>
                    </div>
                </div>
                <div class="col-xl-1">
                    <div class="head_info_footer">
                        <p class="name_info_block">
                            Информация
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xl-2">

                    <div class="box_footer_info">
                        <a href="" class="point_yellow">
                            <p class="footer_info_link">
                                Национальное Агентство
                                Контроля Сварки
                            </p>
                        </a>
                    </div>
                    <div class="box_footer_info">
                        <a href="" class="point_yellow">
                            <p class="footer_info_link">
                                Поиск работы <br> в области сварки
                            </p>
                        </a>
                    </div>
                    <div class="box_footer_info">
                        <a href="" class="point_yellow">
                            <p class="footer_info_link">
                                Журнал сварка <br> и диагностика
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xl-2">
                    <div class="feedback_button_footer">
                        <a href="" class="feedback_footer" data-toggle="modal" data-target="#modal-statement">
                            Обратная связь
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="basement_footer">
        <div class="container">
            <div class="line_footer_basement"></div>
            <div class="box_basement">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-xl-4 col-md-4">
                        <p class="basement_text_prava_kompany">
                            © 2019 Кузбасский центр сварки и контроля &nbsp;| &nbsp; Все права защищены
                        </p>
                    </div>
                    <div class="col-xl-3 col-md-4">
                        <a href="#" class="political_konf" target="_blank">
                            Политика конфиденциальности
                        </a>
                    </div>

                    <div class="col-xl-5">
                        <div class="razrabotano_basement_footer">
                            <a href="http://www.naks.ru/naksmedia/" target="_blank" class="razrabotano__v__naks__media">
                                Разработано в - НАКС Медиа</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>