{% load static %}
<div class="bg-info-menu">
    <div class="bg-color">
        <div class="container-fluid">
            <div class="header_box">
                <div class="row align-items-center">
                    <div class="col-xl-1 remove"></div>
                    <div class="col-sm-6 col-xl-2">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'img/logo_gac_rb.svg' %}" class="logo_ac" alt="">
                        </a>
                    </div>
                    <div class="col-sm-5 col-xl-2">
                        <div class="logo_ac_mob">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'img/ac_ctc_logo.svg' %}" class="logo_ac_2" alt="">
                                <img src="{% static '/img/logo_sasp.svg' %}" title="Организация допущена к выполнению работ по аттестации сварочного производства"
                                    class="logo_sasp_mob" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-2">
                        <div class="header_phone">
                            <a href="tel:(347) 246-87-26" title="Позвонить">
                                <p class="text_phone">
                                    (347) 246-87-26
                                </p>
                            </a>
                            <p class="text_phone_consultant">
                                Консультация специалиста
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-5 col-xl-2">
                        <div class="feedback_button_header">
                            <a href="" class="feedback_header" data-toggle="modal" data-target="#modal-question">
                                Обратная связь
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-1 remove">
                        <div class="box_logo_3">
                            <img src="{% static '/img/logo_2.png' %}" title="Лауреат Премии Правительства РФ в области качества 2012 года"
                                alt="">
                            <img src="{% static '/img/logo_3.png' %}" title="Лауреат Премии СНГ 2013 года за достижения в области качества"
                                alt="">
                            <img src="{% static '/img/logo_4.png' %}" title="Член Международного Института Сварки" alt="">
                        </div>
                    </div>
                    <div class="col-xl-1">
                        <div class="header_sasp">
                            <img src="{% static '/img/logo_sasp.svg' %}" title="Организация допущена к выполнению работ по аттестации сварочного производства"
                                class="logo_sasp" alt="">
                        </div>
                    </div>
                    <div class="col-xl-1"></div>
                </div>
            </div>


            <div class="row align-items-center">
                <div class="col-xl-1"></div>
                <div class="col-xl-10 no-otstup">
                    <div class="menu__background">
                        <div class="menu__navbar">
                            <!--Navbar-->
                            <nav class="navbar navbar-expand-lg navbar-dark primary-color">

                                <!-- Navbar brand -->

                                <!-- Collapse button -->
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <!-- Collapsible content -->
                                <div class="collapse navbar-collapse" id="basicExampleNav">

                                    <!-- Links -->
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="index.html#head__page">Главная
                                                <span class="sr-only">(current)</span>
                                            </a>
                                        </li>

                                        <!-- Dropdown -->
                                        <li class="nav-item active">
                                            <a class="nav-link" href="{% url 'index' %}#center">Центр аттестации
                                                <span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                        <li class="nav-item active">
                                            <a class="nav-link" href="{% url 'index' %}#service">Услуги
                                            </a>
                                        </li>

                                        <li class="nav-item active">
                                            <a class="nav-link" href="{% url 'doc' %}#doc">Документы
                                                <span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                        <li class="nav-item active">
                                            <a class="nav-link" href="{% url 'reestr' %}#reestr">Реестр САСв
                                                <span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                        <li class="nav-item active">
                                            <a class="nav-link" href="{% url 'index' %}#contact">Контакты
                                                <span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="header_phone_mob">
                                    <a href="tel:(347) 246-87-26" title="Позвонить">
                                        <p class="text_phone_mob">
                                            (347) 246-87-26
                                        </p>
                                    </a>
                                    <p class="text_phone_consultant_mob">
                                        Консультация специалиста
                                    </p>
                                </div>
                            </nav>

                            <!--/.Navbar-->
                        </div>
                    </div>
                </div>
                <div class="col-xl-1"></div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="headline_bg">
                        <p class="head_bg_text">
                            центр аттестации <br>
                        </p>
                        <p class="head_bg_text_two">
                            в области сварки <br>
                        </p>

                        <p class="head_bg_text_small_two">
                            Аттестационный Центр СваркаТехСервис, являясь
                            членом СРО Ассоциация НАКС, <br> начало свою деятельность в 2003 году с аттестации
                            сварочных
                            материалов, <br> сварочного оборудования и сварочных технологий.
                            <br> В дальнейшем открылись такие подразделения, как Экзаменационный Центр «Башкортостан»
                            <br>
                            (аттестация специалистов неразрушающего контроля), <br> Независимый орган по аттестации
                            лабораторий неразрушающего контроля (НОАЛ), <br> Лаборатории разрушающего и неразрушающего
                            контроля (ЛРиНК).
                        </p>
                        <div class="head_bg_box_button">
                            <button class="request">
                                <a href="" data-toggle="modal" data-target="#modal-statement" class="request_button">Подать
                                    заявку</a>
                            </button>
                            <button class="service">
                                <a href="" class="service_button">Услуги</a>
                            </button>
                        </div>
                        <div class="head_bg_box_button_mob">
                            <p class="button_request"> <button class="request">
                                    <a href="" class="request_button">Подать заявку</a>
                                </button></p>
                            <p><button class="service">
                                    <a href="" class="service_button">Услуги</a>
                                </button></p>
                        </div>
                        <p class="sro_np_naks_text">
                            Организация является членом <br>
                            Саморегулируемая организация Ассоциация «НАКС».
                        </p>
                        <p class="naks_link">
                            <a href="http://www.naks.ru" target="_blank" title="Национальное Агентство Контроля Сварки">www.naks.ru
                                &nbsp | &nbsp </a>
                            <a href="http://www.spks.naks.ru" target="_blank" title="Совет по профессиональным квалификациям в области сварки">www.spks.naks.ru</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>