{% load static %}
<div class="box_white_background" id="center">
        <div class="container">
                <div class="row">
                    <div class="col-xl-1">
                        <div class="left_line_headline"></div>
                    </div>
            
                    <div class="col-xl-6">
                        <p class="headline_text">
                            О центре
                        </p>
                        <p class="subtitle">
                            Подробная информация о нашем центре, свидетельства, реестры
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7">
                        <div class="box_head_info_center">
                            <p class="head_info_center">
                                Кузбасский центр <br>
                                сварки и контроля
                            </p>
                        </div>
                        <div class="box_info_center_small_text">
                            <p class="info_center_small_text">
                                Центр аккредитован в НАКС и осуществляет деятельность в области аттестации сварщиков и
                                специалистов сварочного производства, аттестации сварочных материалов, оборудования и сварочных
                                технологий. Аттестационные испытания проводятся с целью проверки наличия у
                                организации-заявителя
                                технических и организационных возможностей, а так же квалифицированных кадров для производства
                                сварочных работ по аттестуемой технологии, а также проверки, что сварные соединения (наплавки),
                                выполненные в условиях конкретного производства по аттестуемой технологии, соответствуют
                                требованиям Федеральных норм и правил.
                            </p>
                        </div>
                        <div class="head_service_info_text">            
                            <div class="box_link_service_text">
                                <ul class="link_list_service">
                             
                                    <a href="">
                                        <li class="link_service_text">
                                            Подробнее о центре
                                        </li>
                                    </a>
                                    <a href="">
                                        <li class="link_service_text">
                                            Наш центр в реестрах НАКС
                                        </li>
                                    </a>
                                    <a href="">
                                        <li class="link_service_text">
                                           Наш реестр САСв
                                        </li>
                                    </a>
                                    <a href="">
                                        <li class="link_service_text">
                                           Профстандарты в области сварки
                                        </li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5">       
            <div class="right_column_bg_service">
                <div class="box_right_headline_service">
                    <p class="headline_text_right_column">
                        Наш центр предоставляет услуги
                    </p>
                    <div class="box_list_service_right_column">
                        <ul class="list_service">
                           <a href="">
                                <li class="service_right_column">
                                        Аттестация сварщиков  <br>
                                        и специалистов сварочного производства
                                </li>
                           </a>               
                           <a href="">
                                <li class="service_right_column">
                                        Лаборатория разрушающего <br>
                                        и неразрушающего контроля
                                </li>
                           </a>               
                           <a href="">
                                <li class="service_right_column">
                                        Аттестация технологий <br>
                                        сварки
                                </li>
                           </a>               
                           <a href="">
                                <li class="service_right_column">
                                        Аттестация сварочных <br>
            материалов
                                </li>
                           </a>               
                           <a href="">
                                <li class="service_right_column">
                                        Аттестация сварочного <br>
                                        оборудования
                                </li>
                           </a>               
                        </ul>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
</div>