{% load static %}
<div class="box_certified_background">
    <div class="box_certified_color">
        <div class="container">
            <div class="row">
                <div class="col-xl-1">
                    <div class="left_line_headline_certified"></div>
                </div>

                <div class="col-xl-6">
                    <p class="headline_text_certified">
                        Проведенено аттестаций
                    </p>
                    <p class="subtitle_certified">
                        За время существования организаций, было аттестовано
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-2 ">
                    <div class="box_static">
                            <span class="counter">57892</span>
                        <p class="subtitle_quantity">
                            Аттестаций <br> сварщиков
                        </p>
                        <div class="line_quantity"></div>
                    </div>
                </div>
                <div class="col-xl-2 ">
                    <div class="box_static">
                            <span class="counter">11951</span>
                        <p class="subtitle_quantity">
                           Специалистов сварочного производства
                        </p>
                        <div class="line_quantity"></div>
                    </div>
                </div>
                <div class="col-xl-2 ">
                    <div class="box_static">
                            <span class="counter">5334</span>
                        <p class="subtitle_quantity">
                                Аттестации сварочных технологий
                        </p>
                        <div class="line_quantity"></div>
                    </div>
                </div>
                <div class="col-xl-2 ">
                    <div class="box_static">
                            <span class="counter">2317</span>
                        <p class="subtitle_quantity">
                           Аттестаций сварочного оборудования,
                        </p>
                        <div class="line_quantity"></div>
                    </div>
                </div>
                <div class="col-xl-2 ">
                    <div class="box_static">
                            <span class="counter">185</span>
                        <p class="subtitle_quantity">
                              Аттестаций сварочных материалов
                        </p>
                        <div class="line_quantity"></div>
                    </div>
                </div>
                <div class="col-xl-2 ">
                    <div class="box_static">
                            <span class="counter">20</span>
                        <p class="subtitle_quantity">
                                Независимой оценки квалификации
                        </p>
                        <div class="line_quantity"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>