
{% load static %}
<div class="box_background">
    <div class="container">
        <div class="row">
            <div class="col-xl-1">
                <div class="left_line_headline"></div>
            </div>

            <div class="col-xl-6">
                <p class="headline_text">
                    Свидетельства
                </p>
                <p class="subtitle">
                    Документальное подтверждение нашей компетентности
                </p>
            </div>
        </div>
     <div class="row">
        <div class="owl-carousel owl-theme">
            <a href="{% static '/img/img_at.jpg' %}" data-fancybox="images">
              <img src="{% static '/img/img_at.jpg' %}" class="img-fluid" />
            </a>   
            <a href="{% static '/img/img_at.jpg' %}" data-fancybox="images">
              <img src="{% static '/img/img_at.jpg' %}" class="img-fluid" />
            </a>  
            <a href="{% static '/img/img_at.jpg' %}" data-fancybox="images">
              <img src="{% static '/img/img_at.jpg' %}" class="img-fluid" />
            </a>  
            <a href="{% static '/img/img_at.jpg' %}" data-fancybox="images">
              <img src="{% static '/img/img_at.jpg' %}" class="img-fluid" />
            </a>  
            <a href="{% static '/img/img_at.jpg' %}" data-fancybox="images">
              <img src="{% static '/img/img_at.jpg' %}" class="img-fluid" />
            </a>  
            <a href="{% static '/img/img_at.jpg' %}" data-fancybox="images">
              <img src="{% static '/img/img_at.jpg' %}" class="img-fluid" />
            </a>  
         
          </div>
    
     </div>
    </div>
</div>
