            <div class="row align-items-center">
                <div class="col-xl-1"></div>
                <div class="col-xl-10 no-otstup">
                    <div class="menu__background">
                        <div class="menu__navbar">
                            <!--Navbar-->
                            <nav class="navbar navbar-expand-lg navbar-dark primary-color">

                                <!-- Navbar brand -->

                                <!-- Collapse button -->
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <!-- Collapsible content -->
                                <div class="collapse navbar-collapse" id="basicExampleNav">

                                    <!-- Links -->
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="{% url 'index' %}">Главная
                                                <span class="sr-only">(current)</span>
                                            </a>
                                        </li>

                                        <!-- Dropdown -->
                                        <li class="nav-item active">
                                            <a class="nav-link" href="{% url 'index' %}#center">Центр аттестации
                                                <span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                        <li class="nav-item active">
                                            <a id="service-menu-link" class="nav-link" href="{% url 'index' %}#service">Услуги
                                            </a>
                                        </li>

                                        <li class="nav-item active">
                                            <a class="nav-link" href="{% url 'doc' %}#doc">Документы
                                                <span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                        <li class="nav-item active">
                                            <a class="nav-link" href="{% url 'reestr' %}#reestr">Реестр САСв
                                                <span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                        <li class="nav-item active">
                                            <a class="nav-link" href="{% url 'index' %}#contact">Контакты
                                                <span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="header_phone_mob">
                                    <a href="tel:(347) 246-87-26" title="Позвонить">
                                        <p class="text_phone_mob">
                                            (347) 246-87-26
                                        </p>
                                    </a>
                                    <p class="text_phone_consultant_mob">
                                        Консультация специалиста
                                    </p>
                                </div>
                            </nav>

                            <!--/.Navbar-->
                        </div>
                    </div>
                </div>
                <div class="col-xl-1"></div>
            </div>
