
{% load static %}
<div class="box_background">
        <div class="container">
            <div class="row">
                <div class="col-xl-1">
                    <div class="left_line_headline"></div>
                </div>
    
                <div class="col-xl-6">
                    <p class="headline_text">
                        Наши партнеры
                    </p>
                    <p class="subtitle">
                       Многолетнее сотрудничество с крупными организациями
                    </p>
                </div>
            </div>
         <div class="row">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <img src="/static/img/transneft.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/static/img/transneft.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/static/img/transneft.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/static/img/transneft.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/static/img/transneft.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/static/img/transneft.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/static/img/transneft.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/static/img/transneft.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/static/img/transneft.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/static/img/transneft.jpg" alt="">
                </div>
               
            </div>
        
         </div>
        </div>
    </div>
    