{% load static %}
<div class="box_background">
    <div class="container">
        <div class="row">
            <div class="col-xl-1">
                <div class="left_line_headline"></div>
            </div>

            <div class="col-xl-6">
                <p class="headline_text">
                    Услуги центра
                </p>
                <p class="subtitle">
                    Вы можете подробнее ознакомиться с основными направлениями деятельности нашего центра
                </p>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-1"></div>

            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-5">
                <div class="box_img_service">
                    <a href="" class="service_link">
                        <div class="box_content">
                            <p class="name_service">
                                Аттестация <br> сварочных <br> материалов
                            </p>
                            <div class="line_service_yellow"></div>
                        </div>
                </div>
                </a>
                <div class="box_head_serivce">
                    <p class="head_service">
                        Сварочные материалы
                    </p>
                    <p class="info_text_service">
                        Если вам нужна не просто аттестация лаборатории неразрушающего контроля и проверка на
                        соответствие
                        требованиям ПБ 03-372-00, а полностью организованный процесс от разработки необходимой
                        организационно-технической документации, технологических карт и аттестации персонала до
                        поставок
                        недостающего оборудования, то вы обратились по адресу.
                    </p>
                    <button class="more">
                        <a data-fancybox="" data-src="#trueModal" data-modal="true" href="javascript:;" class="more_button">
                            Подробнее
                        </a>
                    </button>
                </div>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-5">
                <div class="box_img_service_2">
                    <a href="" class="service_link">
                        <div class="box_content">
                            <p class="name_service">
                                Аттестация <br> сварочного <br> оборудования
                            </p>
                            <div class="line_service_yellow"></div>
                        </div>
                </div>
                </a>
                <div class="box_head_serivce">
                    <p class="head_service">
                        Сварочное оборудование
                    </p>
                    <p class="info_text_service">
                        Если вам нужна не просто аттестация лаборатории неразрушающего контроля и проверка на
                        соответствие
                        требованиям ПБ 03-372-00, а полностью организованный процесс от разработки необходимой
                        организационно-технической документации, технологических карт и аттестации персонала до
                        поставок
                        недостающего оборудования, то вы обратились по адресу.
                    </p>
                    <button class="more">
                        <a href="" class="more_button">
                            Подробнее
                        </a>
                    </button>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-xl-1">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-5">
                <div class="box_img_service_4">
                    <a href="" class="service_link">
                        <div class="box_content">
                            <p class="name_service">
                                Аттестация специалистов <br> неразрушающего <br> контроля
                            </p>
                            <div class="line_service_yellow"></div>
                        </div>
                </div>
                </a>
                <div class="box_head_serivce">
                    <p class="head_service">
                        Спеиалисты неразрушающего контроля
                    </p>
                    <p class="info_text_service">
                        Если вам нужна не просто аттестация лаборатории неразрушающего контроля и проверка на
                        соответствие
                        требованиям ПБ 03-372-00, а полностью организованный процесс от разработки необходимой
                        организационно-технической документации, технологических карт и аттестации персонала до
                        поставок
                        недостающего оборудования, то вы обратились по адресу.
                    </p>
                    <button class="more">
                        <a href="" class="more_button">
                            Подробнее
                        </a>
                    </button>
                </div>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-5">
                <div class="box_img_service_5">
                    <a href="" class="service_link">
                        <div class="box_content">
                            <p class="name_service">
                                Аттестация лабораторий <br> неразрушающего <br> контроля
                            </p>
                            <div class="line_service_yellow"></div>
                        </div>
                </div>
                </a>
                <div class="box_head_serivce">
                    <p class="head_service">
                        Аттестация лабораторий
                    </p>
                    <p class="info_text_service">
                        Если вам нужна не просто аттестация лаборатории неразрушающего контроля и проверка на
                        соответствие
                        требованиям ПБ 03-372-00, а полностью организованный процесс от разработки необходимой
                        организационно-технической документации, технологических карт и аттестации персонала до
                        поставок
                        недостающего оборудования, то вы обратились по адресу.
                    </p>
                    <button class="more">
                        <a href="" class="more_button">
                            Подробнее
                        </a>
                    </button>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-xl-1">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-5">
                <div class="box_img_service_4">
                    <a href="" class="service_link">
                        <div class="box_content">
                            <p class="name_service">
                                Аттестация специалистов <br> неразрушающего <br> контроля
                            </p>
                            <div class="line_service_yellow"></div>
                        </div>
                </div>
                </a>
                <div class="box_head_serivce">
                    <p class="head_service">
                        Спеиалисты неразрушающего контроля
                    </p>
                    <p class="info_text_service">
                        Если вам нужна не просто аттестация лаборатории неразрушающего контроля и проверка на
                        соответствие
                        требованиям ПБ 03-372-00, а полностью организованный процесс от разработки необходимой
                        организационно-технической документации, технологических карт и аттестации персонала до
                        поставок
                        недостающего оборудования, то вы обратились по адресу.
                    </p>
                    <button class="more">
                        <a href="" class="more_button">
                            Подробнее
                        </a>
                    </button>
                </div>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-5">
                <div class="box_img_service_5">
                    <a href="" class="service_link">
                        <div class="box_content">
                            <p class="name_service">
                                Аттестация лабораторий <br> неразрушающего <br> контроля
                            </p>
                            <div class="line_service_yellow"></div>
                        </div>
                </div>
                </a>
                <div class="box_head_serivce">
                    <p class="head_service">
                        Аттестация лабораторий
                    </p>
                    <p class="info_text_service">
                        Если вам нужна не просто аттестация лаборатории неразрушающего контроля и проверка на
                        соответствие
                        требованиям ПБ 03-372-00, а полностью организованный процесс от разработки необходимой
                        организационно-технической документации, технологических карт и аттестации персонала до
                        поставок
                        недостающего оборудования, то вы обратились по адресу.
                    </p>
                    <button class="more">
                        <a href="" class="more_button">
                            Подробнее
                        </a>
                    </button>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-xl-1">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-5">
                <div class="box_img_service_4">
                    <a href="" class="service_link">
                        <div class="box_content">
                            <p class="name_service">
                                Независимая <br> оценка <br> квалификаций
                            </p>
                            <div class="line_service_yellow"></div>
                        </div>
                </div>
                </a>
                <div class="box_head_serivce">
                    <p class="head_service">
                       Оценка квалификаций
                    </p>
                    <p class="info_text_service">
                        Независимая оценка квалификации проводится Центром оценки квалификации в соответствии с
                        Федеральным законом от 3 июля 2016 г. N 238-ФЗ «О независимой оценке квалификации» и
                        нормативно-правовыми актами Российской Федерации по независимой оценке квалификации.
                        Центр оценки квалификации наделяется полномочиями по проведению оценки квалификации Советом по
                        профессиональным квалификациям в области сварки.
                    </p>
                    <button class="more">
                        <a href="" class="more_button">
                            Подробнее
                        </a>
                    </button>
                </div>

            </div>


        </div>
    </div>
</div>