{% load static %}
<div class="box_background" >
    <div class="container">
        <div class="row">
            <div class="col-xl-1">
                <div class="left_line_headline"></div>
            </div>

            <div class="col-xl-6">
                <p class="headline_text">
                    Услуги центра
                </p>
                <p class="subtitle">
                    Вы можете подробнее ознакомиться с основными направлениями деятельности нашего центра
                </p>
            </div>
        </div>
        <div class="offset-lg-1 col-lg-11">
            <div class="row">
                {% for post in posts %}
                <div class="col-sm-6">
                    <div class="box_img_service">
                        <a href="" id="service" class="service_link">
                            <div class="box_content">
                                <p class="name_service">
                                    {% comment %} {% autoescape off %} {% endcomment %}
                                    {{ post.title }}
                                    {% comment %} {% endautoescape %} {% endcomment %}
                                </p>
                                <div class="line_service_yellow"></div>
                            </div>
                    </div>
                    </a>
                    <div class="box_head_serivce">
                        <p class="head_service">
                            {{ post.category }}
                        </p>
                        <p class="info_text_service">
                            {{ post.short_description }}
                        </p>
                        <button class="more">
                            <a data-fancybox="" data-src="#trueModal{{ post.pk }}" data-modal="true" href="javascript:;" class="more_button">
                                Подробнее
                            </a>
                        </button>
                        {% include 'mainapp/includes/detail_service.html' %}
                    </div>
    
                </div>
                {% endfor %}
    
            </div>
        </div>
    </div>
</div>